Repository TUV-SUD-Product-Service-GmbH/QuteStyle: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
        args: [ "--profile", "black", "-l 79" ]

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args: [ --safe, --quiet, -l 79 ]
        language_version: python3

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: fix-byte-order-marker
      - id: no-commit-to-branch
        args: [--branch, master]
      - id: requirements-txt-fixer

  -   repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*|resources_rc.py"

  # flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*|resources_rc.py"
        args: # arguments to configure flake8
          - "--max-line-length=79"
          - "--max-complexity=18"
          # E722 (bare except) is handled by pylint
          # W503 (line break before binary operator) that's what black does.
          - "--ignore=E722,W503"
        types: [ python ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        args: [ "--warn-redundant-casts", "--warn-unused-ignores", "--namespace-packages", "--explicit-package-bases", "--config-file", "dev_config/mypy.ini" ]
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*"

# Should be activated once there is time to check setup.py:
#  - repo: https://github.com/regebro/pyroma
#    rev: "3.2"
#    hooks:
#      - id: pyroma

# Should be activated once there is time to find unused code:
#  - repo: https://github.com/PyCQA/bandit
#    rev: '1.7.0'
#    hooks:
#      - id: bandit

Changes for style (#44)
  qute_style/widgets/styled_combobox.py
Due: pylint, mypy

added toml and lock file
  poetry.lock
  pyproject.toml
  qute_style/helper.py
  requirements.txt
Due: pylint, mypy

updated requirements
  dev_requirements.txt
  requirements.txt
Due: none

fixed requirement precommit
  dev_requirements.txt
  requirements.txt
Due: none

exchanged not working urls
  README.md
  dev_requirements.txt
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

workflow dependencies installed via poetry
  .github/workflows/pylint.yml
  .github/workflows/test.yml
Due: none

removed cast for position of toggle and do an actual conversion
  qute_style/widgets/toggle.py
Due: pylint, mypy

corrected conversion
  qute_style/widgets/toggle.py
Due: pylint, mypy

removed cast for position of toggle and do an actual conversion (#47)
  qute_style/widgets/toggle.py
Due: pylint, mypy

save commit
  .gitignore
  README.md
  docs/style.md
  docs/widgets.md
  poetry.lock
  pyproject.toml
  qute_style/gen/ui_test_window.py
  qute_style/helper.py
  qute_style_examples/__init__.py
  qute_style_examples/__main__.py
  qute_style_examples/example_images/color_manager.PNG
  qute_style_examples/example_images/custom_style.PNG
  qute_style_examples/example_images/darcula.PNG
  qute_style_examples/example_images/drop_label.PNG
  qute_style_examples/example_images/highbridge_grey.PNG
  qute_style_examples/example_images/information_messagebox.PNG
  qute_style_examples/example_images/princesspink.PNG
  qute_style_examples/example_images/rubyred.PNG
  qute_style_examples/example_images/snowwhite.PNG
  qute_style_examples/example_images/widgets_display.PNG
  qute_style_examples/main.py
  qute_style_examples/sample_classes.py
  qute_style_examples/sample_main_window.py
  qute_style_examples/sample_widgets.py
  qute_style_examples/test_changelog/1.01/1.json
  qute_style_examples/test_changelog/1.01/2.json
  qute_style_examples/test_changelog/1.01/bug.png
  qute_style_examples/test_changelog/1.10/1.json
  qute_style_examples/test_changelog/1.10/2.json
  qute_style_examples/test_changelog/1.10/bug.png
  qute_style_examples/test_changelog/1.100/1.json
  qute_style_examples/test_changelog/1.100/2.json
  setup.py
  tests/test_left_column.py
Due: pylint, mypy

enable example app
  README.md
  poetry.lock
  pyproject.toml
  qute_style_examples/main.py
Due: pylint, mypy

enable example app
  qute_style/gen/ui_test_window.py
  qute_style/helper.py
  qute_style_examples/__main__.py
  qute_style_examples/main.py
  qute_style_examples/sample_main_window.py
  setup.py
  tests/test_left_column.py
Due: pylint, mypy

linux added to test platforms
  .github/workflows/test.yml
  qute_style/widgets/styled_combobox.py
Due: pylint, mypy

make it python 3.8 compatible
  README.md
  poetry.lock
  pyproject.toml
  qute_style_examples/main.py
Due: pylint, mypy

Requirements update (#42)
  dev_requirements.txt
  dev_scripts/generate_rc.py
  examples/sample_widgets.py
  qute_style/dev/dev_functions.py
  qute_style/qute_style.py
  qute_style/startup_threads.py
  qute_style/widgets/base_widgets.py
  qute_style/widgets/grips.py
  qute_style/widgets/icon_tooltip_button.py
  qute_style/widgets/left_menu.py
  requirements.txt
Due: pylint, mypy

Removed TSL APP
  examples/main.py
  examples/sample_main_window.py
  qute_style/qs_application.py
  qute_style/qs_main_window.py
  qute_style/startup_threads.py
  qute_style/update_window.py
  qute_style/whats_new_window.py
  tests/test_update_window.py
Due: pylint, mypy

Removed TSL APP
  qute_style/qs_main_window.py
  tests/conftest.py
Due: pylint, mypy

Removed TSL APP
  examples/sample_main_window.py
  qute_style/qs_application.py
  tests/test_qs_main_window.py
Due: pylint, mypy

Removed TSL APP
  examples/sample_main_window.py
  qute_style/qs_application.py
  qute_style/qs_main_window.py
  tests/test_custom_icon_engine.py
Due: pylint, mypy

Removed TSL APP
  tests/test_custom_icon_engine.py
  tests/test_qs_main_window.py
Due: pylint, mypy

Removed TSL APP
  qute_style/qs_application.py
Due: pylint, mypy

Removed TSL APP (#51)
  examples/main.py
  examples/sample_main_window.py
  qute_style/qs_application.py
  qute_style/qs_main_window.py
  qute_style/startup_threads.py
  qute_style/update_window.py
  qute_style/whats_new_window.py
  tests/conftest.py
  tests/test_custom_icon_engine.py
  tests/test_qs_main_window.py
  tests/test_update_window.py
Due: pylint, mypy

pipline
  .github/workflows/pylint.yml
Due: none

updated requirements
  poetry.lock
  pyproject.toml
Due: none

override certain ide settings for python and yaml files
  .editorconfig
Due: none

fixed editorcfg
  .editorconfig
Due: none

include yaml ending
  .editorconfig
Due: none

#45 versioning packaging (#46)
  .github/workflows/pylint.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  dev_requirements.txt
  docs/style.md
  docs/widgets.md
  poetry.lock
  pyproject.toml
  qute_style/gen/ui_test_window.py
  qute_style/helper.py
  qute_style_examples/__init__.py
  qute_style_examples/__main__.py
  qute_style_examples/example_images/color_manager.PNG
  qute_style_examples/example_images/custom_style.PNG
  qute_style_examples/example_images/darcula.PNG
  qute_style_examples/example_images/drop_label.PNG
  qute_style_examples/example_images/highbridge_grey.PNG
  qute_style_examples/example_images/information_messagebox.PNG
  qute_style_examples/example_images/princesspink.PNG
  qute_style_examples/example_images/rubyred.PNG
  qute_style_examples/example_images/snowwhite.PNG
  qute_style_examples/example_images/widgets_display.PNG
  qute_style_examples/main.py
  qute_style_examples/sample_classes.py
  qute_style_examples/sample_main_window.py
  qute_style_examples/sample_widgets.py
  qute_style_examples/test_changelog/1.01/1.json
  qute_style_examples/test_changelog/1.01/2.json
  qute_style_examples/test_changelog/1.01/bug.png
  qute_style_examples/test_changelog/1.10/1.json
  qute_style_examples/test_changelog/1.10/2.json
  qute_style_examples/test_changelog/1.10/bug.png
  qute_style_examples/test_changelog/1.100/1.json
  qute_style_examples/test_changelog/1.100/2.json
  requirements.txt
  setup.py
  tests/test_left_column.py
Due: pylint, mypy

added filter.svg
  pyproject.toml
  qute_style/resources/svg_icons/filter.svg
Due: none

StyledWaitingSpinner refactored
  poetry.lock
  pyproject.toml
  qute_style/helper.py
  qute_style/widgets/styled_combobox.py
  qute_style_examples/sample_main_window.py
  qute_style_examples/sample_widgets.py
Due: pylint, mypy

hash for pyqtspinner updated
  poetry.lock
Due: none

pylint disables removed from helper module
  qute_style/helper.py
Due: pylint, mypy

add filter icon (#54)
  pyproject.toml
  qute_style/resources/svg_icons/filter.svg
Due: none

dependency update
  poetry.lock
  pyproject.toml
Due: none

StyledWaitingSpinner refactored (#55)
  poetry.lock
  pyproject.toml
  qute_style/helper.py
  qute_style/widgets/styled_combobox.py
  qute_style_examples/sample_main_window.py
  qute_style_examples/sample_widgets.py
Due: pylint, mypy

override certain ide settings for python and yaml files (#52)
  .editorconfig
Due: none

updated lock
  poetry.lock
  pyproject.toml
  qute_style/resources_rc.py
Due: mypy

updated lock
  poetry.lock
Due: none

- updated workflows to use python 3.10 - included python 3.11 in test workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/pylint.yml
  .github/workflows/test.yml
  README.md
Due: none
