Repository TUV-SUD-Product-Service-GmbH/QuteStyle: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
        args: [ "--profile", "black", "-l 79" ]

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args: [ --safe, --quiet, -l 79 ]
        language_version: python3

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: fix-byte-order-marker
      - id: no-commit-to-branch
        args: [--branch, master]
      - id: requirements-txt-fixer

  -   repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*|resources_rc.py"

  # flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*|resources_rc.py"
        args: # arguments to configure flake8
          - "--max-line-length=79"
          - "--max-complexity=18"
          # E722 (bare except) is handled by pylint
          # W503 (line break before binary operator) that's what black does.
          - "--ignore=E722,W503"
        types: [ python ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        args: [ "--warn-redundant-casts", "--warn-unused-ignores", "--namespace-packages", "--explicit-package-bases", "--config-file", "dev_config/mypy.ini" ]
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*"

# Should be activated once there is time to check setup.py:
#  - repo: https://github.com/regebro/pyroma
#    rev: "3.2"
#    hooks:
#      - id: pyroma

# Should be activated once there is time to find unused code:
#  - repo: https://github.com/PyCQA/bandit
#    rev: '1.7.0'
#    hooks:
#      - id: bandit

moved debug label to app_data
  examples/main.py
  examples/sample_main_window.py
  qute_style/qs_main_window.py
  qute_style/update_window.py
Due: pylint, mypy

debug label added to titlebar (#17)
  .pre-commit-config.yaml
  examples/main.py
  qute_style/qs_application.py
  qute_style/qs_main_window.py
  qute_style/update_window.py
  qute_style/widgets/title_bar.py
Due: pylint, mypy

Added themes in readme
  README.md
  docs/README.md
  docs/qs_main_window.md
  docs/style.md
  docs/widgets.md
  qute_style/widgets/custom_icon_engine.py
Due: pylint, mypy

Added artwork by Schwarz Alexander
  README.md
  qute_style/resources/svg_images/banner_qute_style.svg
  setup.py
Due: pylint, mypy

Added artwork by Schwarz Alexander (#23)
  README.md
  qute_style/resources/svg_images/banner_qute_style.svg
  setup.py
Due: pylint, mypy

Added CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

added new trigger conditions
  .github/workflows/codeql-analysis.yml
Due: none

removed trailing whitespaces
  .github/workflows/codeql-analysis.yml
Due: none

added cron job
  .github/workflows/codeql-analysis.yml
Due: none

Added CodeQL workflow (#24)
  .github/workflows/codeql-analysis.yml
Due: none

Added CodeQL badge to ReadMe
  README.md
Due: none

Update README.md
  README.md
Due: none

Added CodeQL badge to ReadMe (#25)
  README.md
Due: none

fix Readme
  README.md
Due: none

test pull request
  examples/main.py
Due: pylint, mypy

Improves examples for bug #26
  dev_scripts/compile_ui_files.py
  examples/main.py
  examples/sample_widgets.py
  qute_style/gen/ui_test_window.py
  qute_style/ui/test_window.ui
  qute_style/widgets/styled_combobox.py
Due: pylint, mypy

Add test case
  qute_style/widgets/styled_combobox.py
  tests/test_checkbox.py
Due: pylint, mypy

Fix missing icon in CheckableComboBox #28 (#29)
  dev_scripts/compile_ui_files.py
  examples/main.py
  examples/sample_widgets.py
  qute_style/gen/ui_test_window.py
  qute_style/ui/test_window.ui
  qute_style/widgets/styled_combobox.py
  tests/test_checkbox.py
Due: pylint, mypy

changed image path
  README.md
  docs/widgets.md
Due: none

added images
  README.md
  examples/example_images/darcula.PNG
  examples/example_images/highbridge_grey.PNG
  examples/example_images/princesspink.PNG
  examples/example_images/rubyred.PNG
  examples/example_images/snowwhite.PNG
Due: none

description for combobox
  docs/style.md
  docs/widgets.md
  qute_style/widgets/color_manager.py
Due: pylint, mypy

appended widgets.md
  README.md
  docs/README.md
  docs/style.md
  docs/widgets.md
  qute_style/resources_rc.py
  qute_style/widgets/left_menu_button.py
Due: pylint, mypy

added images
  docs/README.md
  docs/style.md
  examples/example_images/color_manager.PNG
  examples/example_images/drop_label.PNG
  examples/example_images/information_messagebox.PNG
Due: none

corrections
  docs/README.md
  docs/style.md
  docs/widgets.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

precommit
  docs/README.md
  docs/qs_main_window.md
  docs/style.md
  docs/widgets.md
  qute_style/resources_rc.py
Due: mypy

Updated issue templates (#32)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

added new images
  README.md
  docs/style.md
  docs/widgets.md
  examples/example_images/custom_style.PNG
  examples/example_images/darcula.PNG
  examples/example_images/highbridge_grey.PNG
  examples/example_images/widgets_display.PNG
Due: none

precommit
  README.md
  docs/style.md
Due: none

precommit
  README.md
Due: none

Implementation of a Custom-Treeview with a new style for the unfold/expand arrow
  examples/sample_widgets.py
  qute_style/gen/ui_test_window.py
  qute_style/resources/svg_icons/chevron_down.svg
  qute_style/resources/svg_icons/chevron_right.svg
  qute_style/resources_rc.py
  qute_style/ui/test_window.ui
  qute_style/widgets/custom_tree_view.py
Due: pylint, mypy

Fix pre-commit issue
  qute_style/widgets/custom_tree_view.py
Due: pylint, mypy

Fix pre-commit issue isort
  qute_style/widgets/custom_tree_view.py
Due: pylint, mypy

Unittest drawBranches
  qute_style/widgets/custom_tree_view.py
  tests/test_custom_tree_view.py
Due: pylint, mypy

pre-commit isort changes
  examples/sample_widgets.py
Due: pylint, mypy

pre-commit isort black
  examples/sample_widgets.py
Due: pylint, mypy

code refactor: Implementation in QuteStyle
  examples/sample_widgets.py
  qute_style/gen/ui_test_window.py
  qute_style/qute_style.py
  qute_style/resources/svg_icons/chevron_down.svg
  qute_style/resources/svg_icons/chevron_right.svg
  qute_style/resources_rc.py
  qute_style/ui/test_window.ui
  qute_style/widgets/custom_tree_view.py
  tests/test_custom_tree_view.py
  tests/test_qute_style.py
Due: pylint, mypy

pre commit fix
  tests/test_qute_style.py
Due: pylint, mypy
